<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Title</title>
</head>

<body class="d-flex flex-column min-vh-100">
    <%- partial("../partials/navbar") %>
        <main class="container my-2">
            <%- body %>
        </main>
        <script src="/js/bootstrap.bundle.min.js"></script>
        <script>
            // Example starter JavaScript for disabling form submissions if there are invalid fields
            // from https://getbootstrap.com/docs/5.2/forms/validation/
            (() => {
                'use strict'

                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                const forms = document.querySelectorAll('.needs-validation')

                // Loop over them and prevent submission
                Array.from(forms).forEach(form => {
                    form.addEventListener('submit', event => {
                        if (!form.checkValidity()) {
                            event.preventDefault()
                            event.stopPropagation()
                        }

                        form.classList.add('was-validated')
                    }, false)
                })
            })()
        </script>
        <%- partial("../partials/footer") %>
</body>

</html>