.img-thumbnail {
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.deletion-check {
    position: absolute;
    right: 10px;
    top: 10px;
}

.deletion-thumbnail-holder {
    position: relative
}

#cluster-map {
    width: 100%;
    height: 500px;
}

#single-camp-map {
    width: 100%;
    height: 300px;
}